# 1) Setup

In [2]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm

import numpy as np
import math
import scipy as sp
from scipy import stats
from copy import copy
import time

import pymongo
from pymongo import MongoClient
from datetime import datetime
from datetime import timedelta
print("done")

done

In [3]:
#import functions from python files

#1) data import & filtering (AAF, TSC, LABS)
from get_data_strands import *
from get_adjacent import *
from get_valid1 import *
from get_times import *
from get_congestion_strands import *
from get_valid2 import *
from get_length import *

from select_data import *
from select_data_edge import *

from underscore_prefix import *
from underscore_suffix import *

# 2) Walmart & Blenheim
from get_data import *
from get_data_yaml import *
from get_congestion import *
from get_valid import *
from get_context import *

print("done")

done

# 2) AAF

## 2a) AAF Y4

In [4]:
#1) Import data from PyMongo
df = get_data_strands(address = "aaf_y4")
df = df[df["edge_id"] != "WayPoint28_Feuerloescher"]
adjacent = get_adjacent("aaf_map.yaml")
nodes = list(adjacent.keys())
length = get_length("aaf_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_aaf = get_valid2(df)
df_aaf.head(2)

Time taken (get_adjacent): 0.7536811828613281 secs
Time taken (get_length): 0.7350988388061523 secs
23044
Time taken (get_adjacent): 0.6098117828369141 secs
23044
Time taken (get_times): 21.687305688858032 secs
0 iterations in 0.0009965896606445312 seconds
5000 iterations in 26.51748752593994 seconds
10000 iterations in 52.70743536949158 seconds
15000 iterations in 79.38232564926147 seconds
20000 iterations in 106.26281023025513 seconds
Time taken (get_congestion): 122.78819108009338 seconds
Unimodal:  22581
Multimodal:  463

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,ChargingPoint,Station_ChargingPoint,0.624420,19.893930
1,ChargingPoint,Station,ChargingPoint_Station,17.028488,23.572407

In [5]:
#6) save to excel
df_aaf.to_excel("data_aaf_y4.xlsx")
print("done")

done

In [6]:
# retrieve data
df_aaf = pd.read_excel("data_aaf_y4.xlsx")
df_aaf = df_aaf[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_aaf.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,ChargingPoint,Station_ChargingPoint,0.624420,19.893930
1,ChargingPoint,Station,ChargingPoint_Station,17.028488,23.572407

## 2b) AAF Y3

In [7]:
#1) Import data from PyMongo
df = get_data_strands(address = "aaf_y3")
df = df[df["edge_id"] != "WayPoint28_Feuerloescher"]
adjacent = get_adjacent("aaf_map.yaml")
nodes = list(adjacent.keys())
length = get_length("aaf_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_aaf = get_valid2(df)
df_aaf.head(2)

Time taken (get_adjacent): 0.6597387790679932 secs
Time taken (get_length): 0.7350325584411621 secs
18142
18142
Time taken (get_times): 12.67652940750122 secs
0 iterations in 0.0 seconds
5000 iterations in 23.3138370513916 seconds
10000 iterations in 47.93099546432495 seconds
15000 iterations in 71.80394101142883 seconds
Time taken (get_congestion): 86.7775342464447 seconds
Unimodal:  17867
Multimodal:  275

,origin,target,edge_id,time_to_waypoint,operation_time
1,Station,WayPoint91,Station_WayPoint91,0.071773,4.097293
2,WayPoint91,WayPoint8,WayPoint91_WayPoint8,5.784959,13.085477

In [8]:
#6) save to excel
df_aaf.to_excel("data_aaf_y3.xlsx")
print("done")

done

In [9]:
# retrieve data
df_aaf = pd.read_excel("data_aaf_y3.xlsx")
df_aaf = df_aaf[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_aaf.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,WayPoint91,Station_WayPoint91,0.071773,4.097293
1,WayPoint91,WayPoint8,WayPoint91_WayPoint8,5.784959,13.085477

## 2c) AAF Y2

In [10]:
#1) Import data from PyMongo
df = get_data_strands(address = "aaf_y2")
df = df[df["edge_id"] != "Wp87_WP2"]
df = df[df["edge_id"] != "WayPoint28_Feuerloescher"]

adjacent = get_adjacent("aaf_map.yaml")
nodes = list(adjacent.keys())
length = get_length("aaf_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_aaf = get_valid2(df)
df_aaf.head(2)

Time taken (get_adjacent): 0.6606223583221436 secs
Time taken (get_length): 0.7240626811981201 secs
5446
5446
Time taken (get_times): 2.2354207038879395 secs
0 iterations in 0.0010304450988769531 seconds
5000 iterations in 9.984898567199707 seconds
Time taken (get_congestion): 10.929473638534546 seconds
Unimodal:  5409
Multimodal:  37

,origin,target,edge_id,time_to_waypoint,operation_time
1,Station,WayPoint2,Station_WayPoint2,0.328289,2.676215
2,WayPoint2,WayPoint86,WayPoint2_WayPoint86,0.236417,9.111409

In [11]:
#6) save to excel
df_aaf.to_excel("data_aaf_y2.xlsx")
print("done")

done

In [12]:
# retrieve data
df_aaf = pd.read_excel("data_aaf_y2.xlsx")
df_aaf = df_aaf[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_aaf.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,WayPoint2,Station_WayPoint2,0.328289,2.676215
1,WayPoint2,WayPoint86,WayPoint2_WayPoint86,0.236417,9.111409

# 3) TSC

## 3a) TSC y3

In [13]:
#1) Import data from PyMongo
df = get_data_strands(address = "tsc_y3")

adjacent = get_adjacent("tsc_map.yaml")
nodes = list(adjacent.keys())
length = get_length("tsc_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_tsc = get_valid2(df)
df_tsc.head(2)

Time taken (get_adjacent): 0.6370594501495361 secs
Time taken (get_length): 0.7142281532287598 secs
6828
6828
Time taken (get_times): 3.6583423614501953 secs
0 iterations in 0.00099945068359375 seconds
5000 iterations in 12.357964754104614 seconds
Time taken (get_congestion): 16.64172124862671 seconds
Unimodal:  6397
Multimodal:  431

,origin,target,edge_id,time_to_waypoint,operation_time
0,ChargingPoint,Station,ChargingPoint_Station,26.468006,38.898573
2,Station,ChargingPoint,Station_ChargingPoint,0.413475,68.313145

In [14]:
#6) save to excel
df_tsc.to_excel("data_tsc_y3.xlsx")
print("done")

done

In [15]:
# retrieve data
df_tsc = pd.read_excel("data_tsc_y3.xlsx")
df_tsc = df_tsc[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_tsc.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,ChargingPoint,Station,ChargingPoint_Station,26.468006,38.898573
1,Station,ChargingPoint,Station_ChargingPoint,0.413475,68.313145

## 3b) TSC y4 - Betty

In [16]:
#1) Import data from PyMongo
df = get_data_strands(address = "tsc_betty")

adjacent = get_adjacent("tsc_map.yaml")
nodes = list(adjacent.keys())
length = get_length("tsc_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_tsc = get_valid2(df)
df_tsc.head(2)

Time taken (get_adjacent): 0.6338837146759033 secs
Time taken (get_length): 0.7181215286254883 secs
3328
3328
Time taken (get_times): 1.2542166709899902 secs
0 iterations in 0.0 seconds
Time taken (get_congestion): 5.3084352016448975 seconds
Unimodal:  3323
Multimodal:  5

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station1,SmallKitchen,Station1_SmallKitchen,0.047758,9.263602
1,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.088824,8.628814

In [17]:
#6) save to excel
df_tsc.to_excel("data_tsc_betty.xlsx")
print("done")

done

In [18]:
# retrieve data
df_tsc = pd.read_excel("data_tsc_betty.xlsx")
df_tsc = df_tsc[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_tsc.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station1,SmallKitchen,Station1_SmallKitchen,0.047758,9.263602
1,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.088824,8.628814

## 3c) TSC y4 - Bob

In [19]:
#1) Import data from PyMongo
df = get_data_strands(address = "tsc_bob")

adjacent = get_adjacent("tsc_map.yaml")
nodes = list(adjacent.keys())
length = get_length("tsc_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_tsc = get_valid2(df)
df_tsc.head(2)

Time taken (get_adjacent): 0.5919177532196045 secs
Time taken (get_length): 0.7005703449249268 secs
9012
9012
Time taken (get_times): 4.1809210777282715 secs
0 iterations in 0.000997304916381836 seconds
5000 iterations in 13.163287878036499 seconds
Time taken (get_congestion): 23.45139980316162 seconds
Unimodal:  8986
Multimodal:  26

,origin,target,edge_id,time_to_waypoint,operation_time
1,Station1,SmallKitchen,Station1_SmallKitchen,0.054096,4.340037
2,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.077031,5.906566

In [20]:
#6) save to excel
df_tsc.to_excel("data_tsc_bob.xlsx")
print("done")

done

In [21]:
# retrieve data
df_tsc_bob = pd.read_excel("data_tsc_bob.xlsx")
df_tsc_bob = df_tsc_bob[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_tsc_bob.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station1,SmallKitchen,Station1_SmallKitchen,0.054096,4.340037
1,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.077031,5.906566

# 4) LABS

In [22]:
#1) Import data from PyMongo
df = get_data_strands(address = "labs")

adjacent = get_adjacent("labs_map.yaml")
nodes = list(adjacent.keys())
length = get_length("labs_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_labs = get_valid2(df)
df_labs.head(2)

Time taken (get_adjacent): 0.06781792640686035 secs
Time taken (get_length): 0.07582974433898926 secs
2135
2135
Time taken (get_times): 0.8437132835388184 secs
0 iterations in 0.0009975433349609375 seconds
Time taken (get_congestion): 3.3905131816864014 seconds
Unimodal:  1877
Multimodal:  258

      origin     target              edge_id  time_to_waypoint  operation_time
1  WayPoint2  WayPoint1  WayPoint2_WayPoint1          0.124470       20.516262
2  WayPoint9  WayPoint1  WayPoint9_WayPoint1          4.591103       15.661669

In [23]:
#6) save to excel
df_labs.to_excel("data_labs.xlsx")
print("done")

done

In [24]:
# retrieve data
df_labs = pd.read_excel("data_labs.xlsx")
df_labs = df_labs[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_labs.head(2)

      origin     target              edge_id  time_to_waypoint  operation_time
0  WayPoint2  WayPoint1  WayPoint2_WayPoint1          0.124470       20.516262
1  WayPoint9  WayPoint1  WayPoint9_WayPoint1          4.591103       15.661669

# 5) Blenheim

## 5a) Blenheim - Random

In [25]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_random")
print(len(df))
adjacent = get_adjacent("blenheim_map.yaml")
df = get_congestion(df, adjacent)
df["n_robots"].value_counts()

14981
Time taken (get_adjacent): 0.10720586776733398 secs
0 iterations in 0.0 secs
5000 iterations in 13.223059892654419 secs
10000 iterations in 28.168477058410645 secs
Time taken(get_congestion): 43.200392961502075 secs

1    8068
2    5016
3    1566
4     281
5      50
Name: n_robots, dtype: int64

In [26]:
df_blenheim_random = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_blenheim_random))
df_blenheim_random["n_robots"].value_counts()

Total Filtered
14981 3856

1    3856
Name: n_robots, dtype: int64

In [27]:
#6) save to excel
df_blenheim_random.to_excel("data_blenheim_random.xlsx")
print("done")

done

In [28]:
# retrieve data
df_blenheim_random = pd.read_excel("data_blenheim_random.xlsx")
df_blenheim_random = df_blenheim_random[["origin", "target", "edge_id", "operation_time"]]
df_blenheim_random.head(2)

      origin      target               edge_id  operation_time
0  WayPoint4   WayPoint7   WayPoint4_WayPoint7          12.409
1  WayPoint7  WayPoint10  WayPoint7_WayPoint10          13.035

## 5b) Blenheim - Targeted

In [29]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_targeted")
print(len(df))
adjacent = get_adjacent("blenheim_map.yaml")
df = get_congestion(df, adjacent)

df_blenheim_targeted = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_blenheim_targeted))
df_blenheim_targeted["n_robots"].value_counts()

15313
Time taken (get_adjacent): 0.07283735275268555 secs
0 iterations in 0.0 secs
5000 iterations in 15.33720064163208 secs
10000 iterations in 30.20045232772827 secs
15000 iterations in 45.02410840988159 secs
Time taken(get_congestion): 45.97755765914917 secs
Total Filtered
15313 4288

1    4288
Name: n_robots, dtype: int64

In [30]:
#6) save to excel
df_blenheim_targeted.to_excel("data_blenheim_targeted.xlsx")
print("done")

done

In [31]:
# retrieve data
df_blenheim_targeted = pd.read_excel("data_blenheim_targeted.xlsx")
df_blenheim_targeted = df_blenheim_targeted[["origin", "target", "edge_id", "operation_time"]]
df_blenheim_targeted.head(2)

      origin      target               edge_id  operation_time
0  WayPoint4   WayPoint7   WayPoint4_WayPoint7          11.574
1  WayPoint7  WayPoint10  WayPoint7_WayPoint10          12.874

# 6) Walmart

## 6a) Walmart - Random

In [32]:
#1) Import data from PyMongo
df = get_data(address = "walmart_random")
print(len(df))
adjacent = get_adjacent("walmart_map.yaml")
df = get_congestion(df, adjacent)

df_walmart_random = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_walmart_random))
df_walmart_random["n_robots"].value_counts()

17205
Time taken (get_adjacent): 0.8204793930053711 secs
0 iterations in 0.0 secs
5000 iterations in 15.22150731086731 secs
10000 iterations in 29.193557024002075 secs
15000 iterations in 43.4769389629364 secs
Time taken(get_congestion): 50.401591777801514 secs
Total Filtered
17205 11210

1    11210
Name: n_robots, dtype: int64

In [33]:
#6) save to excel
df_walmart_random.to_excel("data_walmart_random.xlsx")
print("done")

done

In [34]:
# retrieve data
df_walmart_random = pd.read_excel("data_walmart_random.xlsx")
df_walmart_random = df_walmart_random[["origin", "target", "edge_id", "operation_time"]]
df_walmart_random.head(2)

        origin      target                 edge_id  operation_time
0  WayPoint110  WayPoint68  WayPoint110_WayPoint68           4.898
1   WayPoint61  WayPoint54   WayPoint61_WayPoint54           9.276

## 6b) Walmart - Targeted

In [35]:
#1) Import data from PyMongo
df = get_data(address = "walmart_targeted")
print(len(df))
adjacent = get_adjacent("walmart_map.yaml")
df = get_congestion(df, adjacent)

df_walmart_targeted = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_walmart_targeted))
df_walmart_targeted["n_robots"].value_counts()

14173
Time taken (get_adjacent): 0.7609646320343018 secs
0 iterations in 0.0 secs
5000 iterations in 14.015883445739746 secs
10000 iterations in 28.717530488967896 secs
Time taken(get_congestion): 40.87424373626709 secs
Total Filtered
14173 4967

1    4967
Name: n_robots, dtype: int64

In [36]:
#6) save to excel
df_walmart_targeted.to_excel("data_walmart_targeted.xlsx")
print("done")

done

In [37]:
# retrieve data
df_walmart_targeted = pd.read_excel("data_walmart_targeted.xlsx")
df_walmart_targeted = df_walmart_targeted[["origin", "target", "edge_id", "operation_time"]]
df_walmart_targeted.head(2)

        origin      target                 edge_id  operation_time
0  WayPoint110  WayPoint68  WayPoint110_WayPoint68           5.179
1   WayPoint68  WayPoint75   WayPoint68_WayPoint75           9.396

# 7) Blenheim with congestion

## 7a) Blenheim - Random

In [4]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_random")
print(len(df))
adjacent = get_adjacent("blenheim_map.yaml")
df = get_congestion(df, adjacent)
df["n_robots"].value_counts()

14981
Time taken (get_adjacent): 0.10688233375549316 secs
0 iterations in 0.0 secs
5000 iterations in 16.74808955192566 secs
10000 iterations in 33.22493124008179 secs
Time taken(get_congestion): 49.94030475616455 secs

1    8068
2    5016
3    1566
4     281
5      50
Name: n_robots, dtype: int64

In [5]:
df_blenheim_random = get_valid(df, remove_multimodal = False, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_blenheim_random))
df_blenheim_random["n_robots"].value_counts()

Total Filtered
14981 7510

1    3856
2    2609
3     843
4     175
5      27
Name: n_robots, dtype: int64

In [6]:
#6) save to excel
df_blenheim_random.to_excel("data_blenheim_random_multi.xlsx")
print("done")

done

In [7]:
# retrieve data
df_blenheim_random = pd.read_excel("data_blenheim_random_multi.xlsx")
df_blenheim_random = df_blenheim_random[["origin", "target", "edge_id", "operation_time"]]
df_blenheim_random.head(2)

      origin      target               edge_id  operation_time
0  WayPoint4   WayPoint7   WayPoint4_WayPoint7          12.409
1  WayPoint7  WayPoint10  WayPoint7_WayPoint10          13.035

## 7b) Blenheim - Targeted

In [8]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_targeted")
print(len(df))
adjacent = get_adjacent("blenheim_map.yaml")
df = get_congestion(df, adjacent)

df_blenheim_targeted = get_valid(df, remove_multimodal = False, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_blenheim_targeted))
df_blenheim_targeted["n_robots"].value_counts()

15313
Time taken (get_adjacent): 0.0797874927520752 secs
0 iterations in 0.0 secs
5000 iterations in 17.592516660690308 secs
10000 iterations in 34.35166120529175 secs
15000 iterations in 50.92953562736511 secs
Time taken(get_congestion): 51.96457266807556 secs
Total Filtered
15313 9652

1    4288
2    3607
3    1385
4     301
5      71
Name: n_robots, dtype: int64

In [9]:
#6) save to excel
df_blenheim_targeted.to_excel("data_blenheim_targeted_multi.xlsx")
print("done")

done

In [10]:
# retrieve data
df_blenheim_targeted = pd.read_excel("data_blenheim_targeted_multi.xlsx")
df_blenheim_targeted = df_blenheim_targeted[["origin", "target", "edge_id", "operation_time"]]
df_blenheim_targeted.head(2)

      origin      target               edge_id  operation_time
0  WayPoint4   WayPoint7   WayPoint4_WayPoint7          11.574
1  WayPoint7  WayPoint10  WayPoint7_WayPoint10          12.874

# 8) Walmart with congestion

## 8a) Walmart - Random

In [11]:
#1) Import data from PyMongo
df = get_data(address = "walmart_random")
print(len(df))
adjacent = get_adjacent("walmart_map.yaml")
df = get_congestion(df, adjacent)

df_walmart_random = get_valid(df, remove_multimodal = False, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_walmart_random))
df_walmart_random["n_robots"].value_counts()

17205
Time taken (get_adjacent): 0.8861455917358398 secs
0 iterations in 0.0 secs
5000 iterations in 18.01119089126587 secs
10000 iterations in 35.342005491256714 secs
15000 iterations in 53.243735551834106 secs
Time taken(get_congestion): 60.88036489486694 secs
Total Filtered
17205 12613

1    11210
2     1262
3      130
4       11
Name: n_robots, dtype: int64

In [12]:
#6) save to excel
df_walmart_random.to_excel("data_walmart_random_multi.xlsx")
print("done")

done

In [13]:
# retrieve data
df_walmart_random = pd.read_excel("data_walmart_random_multi.xlsx")
df_walmart_random = df_walmart_random[["origin", "target", "edge_id", "operation_time"]]
df_walmart_random.head(2)

        origin      target                 edge_id  operation_time
0  WayPoint110  WayPoint68  WayPoint110_WayPoint68           4.898
1   WayPoint68  WayPoint61   WayPoint68_WayPoint61          10.916

## 8b) Walmart - Targeted

In [14]:
#1) Import data from PyMongo
df = get_data(address = "walmart_targeted")
print(len(df))
adjacent = get_adjacent("walmart_map.yaml")
df = get_congestion(df, adjacent)

df_walmart_targeted = get_valid(df, remove_multimodal = False, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_walmart_targeted))
df_walmart_targeted["n_robots"].value_counts()

14173
Time taken (get_adjacent): 0.8153173923492432 secs
0 iterations in 0.0 secs
5000 iterations in 18.102157592773438 secs
10000 iterations in 34.486716747283936 secs
Time taken(get_congestion): 47.93705368041992 secs
Total Filtered
14173 8799

1    4967
2    2649
3     946
4     215
5      22
Name: n_robots, dtype: int64

In [15]:
#6) save to excel
df_walmart_targeted.to_excel("data_walmart_targeted_multi.xlsx")
print("done")

done

In [16]:
# retrieve data
df_walmart_targeted = pd.read_excel("data_walmart_targeted_multi.xlsx")
df_walmart_targeted = df_walmart_targeted[["origin", "target", "edge_id", "operation_time"]]
df_walmart_targeted.head(2)

        origin      target                 edge_id  operation_time
0  WayPoint110  WayPoint68  WayPoint110_WayPoint68           5.179
1   WayPoint68  WayPoint75   WayPoint68_WayPoint75           9.396