# 1) Setup

In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm

import numpy as np
import math
import scipy as sp
from scipy import stats
from copy import copy

import pymongo
from pymongo import MongoClient
from datetime import datetime
from datetime import timedelta
print("done")

done

In [2]:
#import functions from python files

#1) data import & filtering
from get_data import *
from filter_data import *
from filter_data2 import *
from filter_data3 import *
from select_data import *
from select_data_edge import *


print("done")

done

# 2) Remove edge transitions with >1 robot on an edge

In [3]:
#1) Import data from PyMongo
df = get_data()
#2) Preliminary filtering
df = filter_data(df)
print("done")

done

In [4]:
#3a) Count n_robots
df = filter_data2(df)
print("done")

done

In [5]:
#3b) save to csv
df.to_excel("n_robots.xlsx")
print("done")

done

In [6]:
#4) Final filtering
#Get rid of is_final = TRUE & n_robots != 1
df = filter_data3(df)
df.head()

,origin,target,edge_id,is_final,operation_time,start,finish,n_robots
0,WayPoint112,WayPoint82,WayPoint112_WayPoint82,False,5.192,2021-02-23 20:02:28.981,2021-02-23 20:02:34.101,1
1,WayPoint113,WayPoint89,WayPoint113_WayPoint89,False,5.120,2021-02-23 20:02:29.328,2021-02-23 20:02:34.448,1
2,WayPoint114,WayPoint96,WayPoint114_WayPoint96,False,5.183,2021-02-23 20:02:30.098,2021-02-23 20:02:35.218,1
3,WayPoint110,WayPoint68,WayPoint110_WayPoint68,False,5.301,2021-02-23 20:02:30.986,2021-02-23 20:02:36.106,1
4,WayPoint111,WayPoint75,WayPoint111_WayPoint75,False,5.201,2021-02-23 20:02:31.033,2021-02-23 20:02:36.153,1

# 3) Check against YAML output

Charlie mentioned that his context was more complex (looking at other edges that might also influence a certain edge).

In [35]:
# YAML file

import yaml

count_yaml = [0,0,0]

with open('walmart_random_success.yaml') as file:
    documents = yaml.full_load(file)

    for item, doc in documents.items():
        if len(doc) == 3:
            count_yaml[2] += len(doc[2])
            count_yaml[1] += len(doc[1])
            count_yaml[0] += len(doc[0])
        elif len(doc) == 2:
            count_yaml[1] += len(doc[1])
            count_yaml[0] += len(doc[0])
        elif len(doc) == 1:
            count_yaml[0] += len(doc[0])


print("1 robot on the edge:", count_yaml[0])
print("2 robots on the edge:", count_yaml[1])
print("3 robots on the edge:", count_yaml[2])
print("total observations:", np.sum(count_yaml))

1 robot on the edge: 11438
2 robots on the edge: 1002
3 robots on the edge: 39
total observations: 12479

In [36]:
# My filtered data
my_data = pd.read_excel("n_robots.xlsx")
count_filtered = my_data['n_robots'].value_counts()
print(count_filtered)
print("total observations:", np.sum(count_filtered))

1    12044
2      316
Name: n_robots, dtype: int64
total observations: 12360