# 1) Setup

In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm

import numpy as np
import math
import scipy as sp
from scipy import stats
from copy import copy
import time

import pymongo
from pymongo import MongoClient
from datetime import datetime
from datetime import timedelta
print("done")

done

In [2]:
#import functions from python files

#1) data import & filtering (AAF, TSC, LABS)
from get_data_strands import *
from get_adjacent import *
from get_valid1 import *
from get_times import *
from get_congestion_strands import *
from get_valid2 import *
from get_length import *

from select_data import *
from select_data_edge import *

from underscore_prefix import *
from underscore_suffix import *

# 2) Walmart & Blenheim
from get_data import *
from get_data_yaml import *
from get_congestion import *
from get_valid import *
from get_context import *

print("done")

done

# 2) AAF

## 2a) AAF Y4

In [3]:
#1) Import data from PyMongo
df = get_data_strands(address = "aaf_y4")
df = df[df["edge_id"] != "WayPoint28_Feuerloescher"]
adjacent = get_adjacent("aaf_map.yaml")
nodes = list(adjacent.keys())
length = get_length("aaf_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_aaf = get_valid2(df)
df_aaf.head(2)

Time taken (get_adjacent): 0.6732985973358154 secs
Time taken (get_length): 0.7192492485046387 secs
23044
Time taken (get_adjacent): 0.5924949645996094 secs
23044
Time taken (get_times): 19.729634761810303 secs
0 iterations in 0.0010094642639160156 seconds
5000 iterations in 26.51066493988037 seconds
10000 iterations in 53.20173478126526 seconds
15000 iterations in 80.07828307151794 seconds
20000 iterations in 106.665048122406 seconds
Time taken (get_congestion): 123.16270399093628 seconds
Unimodal:  22581
Multimodal:  463

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,ChargingPoint,Station_ChargingPoint,0.624420,19.893930
1,ChargingPoint,Station,ChargingPoint_Station,17.028488,23.572407

In [6]:
#6) save to excel
df_aaf.to_excel("data_aaf_y4.xlsx")
print("done")

done

In [7]:
# retrieve data
df_aaf = pd.read_excel("data_aaf_y4.xlsx")
df_aaf = df_aaf[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_aaf.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,ChargingPoint,Station_ChargingPoint,0.624420,19.893930
1,ChargingPoint,Station,ChargingPoint_Station,17.028488,23.572407

## 2b) AAF Y3

In [8]:
#1) Import data from PyMongo
df = get_data_strands(address = "aaf_y3")
df = df[df["edge_id"] != "WayPoint28_Feuerloescher"]
adjacent = get_adjacent("aaf_map.yaml")
nodes = list(adjacent.keys())
length = get_length("aaf_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_aaf = get_valid2(df)
df_aaf.head(2)

Time taken (get_adjacent): 0.6757824420928955 secs
Time taken (get_length): 0.7395381927490234 secs
18142
18142
Time taken (get_times): 13.076265573501587 secs
0 iterations in 0.0 seconds
5000 iterations in 24.662707090377808 seconds
10000 iterations in 49.29795598983765 seconds
15000 iterations in 73.81325125694275 seconds
Time taken (get_congestion): 89.31986474990845 seconds
Unimodal:  17867
Multimodal:  275

,origin,target,edge_id,time_to_waypoint,operation_time
1,Station,WayPoint91,Station_WayPoint91,0.071773,4.097293
2,WayPoint91,WayPoint8,WayPoint91_WayPoint8,5.784959,13.085477

In [9]:
#6) save to excel
df_aaf.to_excel("data_aaf_y3.xlsx")
print("done")

done

In [10]:
# retrieve data
df_aaf = pd.read_excel("data_aaf_y3.xlsx")
df_aaf = df_aaf[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_aaf.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,WayPoint91,Station_WayPoint91,0.071773,4.097293
1,WayPoint91,WayPoint8,WayPoint91_WayPoint8,5.784959,13.085477

## 2c) AAF Y2

In [11]:
#1) Import data from PyMongo
df = get_data_strands(address = "aaf_y2")
df = df[df["edge_id"] != "Wp87_WP2"]
df = df[df["edge_id"] != "WayPoint28_Feuerloescher"]

adjacent = get_adjacent("aaf_map.yaml")
nodes = list(adjacent.keys())
length = get_length("aaf_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_aaf = get_valid2(df)
df_aaf.head(2)

Time taken (get_adjacent): 0.6633694171905518 secs
Time taken (get_length): 0.7286641597747803 secs
5446
5446
Time taken (get_times): 2.277477502822876 secs
0 iterations in 0.0 seconds
5000 iterations in 10.083387613296509 seconds
Time taken (get_congestion): 11.08835482597351 seconds
Unimodal:  5409
Multimodal:  37

,origin,target,edge_id,time_to_waypoint,operation_time
1,Station,WayPoint2,Station_WayPoint2,0.328289,2.676215
2,WayPoint2,WayPoint86,WayPoint2_WayPoint86,0.236417,9.111409

In [12]:
#6) save to excel
df_aaf.to_excel("data_aaf_y2.xlsx")
print("done")

done

In [13]:
# retrieve data
df_aaf = pd.read_excel("data_aaf_y2.xlsx")
df_aaf = df_aaf[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_aaf.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station,WayPoint2,Station_WayPoint2,0.328289,2.676215
1,WayPoint2,WayPoint86,WayPoint2_WayPoint86,0.236417,9.111409

# 3) TSC

## 3a) TSC y3

In [14]:
#1) Import data from PyMongo
df = get_data_strands(address = "tsc_y3")

adjacent = get_adjacent("tsc_map.yaml")
nodes = list(adjacent.keys())
length = get_length("tsc_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_tsc = get_valid2(df)
df_tsc.head(2)

Time taken (get_adjacent): 0.6329014301300049 secs
Time taken (get_length): 0.7156157493591309 secs
6828
6828
Time taken (get_times): 3.0244247913360596 secs
0 iterations in 0.000997304916381836 seconds
5000 iterations in 11.393438339233398 seconds
Time taken (get_congestion): 15.682222127914429 seconds
Unimodal:  6397
Multimodal:  431

,origin,target,edge_id,time_to_waypoint,operation_time
0,ChargingPoint,Station,ChargingPoint_Station,26.468006,38.898573
2,Station,ChargingPoint,Station_ChargingPoint,0.413475,68.313145

In [15]:
#6) save to excel
df_tsc.to_excel("data_tsc_y3.xlsx")
print("done")

done

In [16]:
# retrieve data
df_tsc = pd.read_excel("data_tsc_y3.xlsx")
df_tsc = df_tsc[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_tsc.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,ChargingPoint,Station,ChargingPoint_Station,26.468006,38.898573
1,Station,ChargingPoint,Station_ChargingPoint,0.413475,68.313145

## 3b) TSC y4 - Betty

In [17]:
#1) Import data from PyMongo
df = get_data_strands(address = "tsc_betty")

adjacent = get_adjacent("tsc_map.yaml")
nodes = list(adjacent.keys())
length = get_length("tsc_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_tsc = get_valid2(df)
df_tsc.head(2)

Time taken (get_adjacent): 0.6253266334533691 secs
Time taken (get_length): 0.6882495880126953 secs
3328
3328
Time taken (get_times): 1.249307632446289 secs
0 iterations in 0.0 seconds
Time taken (get_congestion): 5.345008373260498 seconds
Unimodal:  3323
Multimodal:  5

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station1,SmallKitchen,Station1_SmallKitchen,0.047758,9.263602
1,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.088824,8.628814

In [18]:
#6) save to excel
df_tsc.to_excel("data_tsc_betty.xlsx")
print("done")

done

In [19]:
# retrieve data
df_tsc = pd.read_excel("data_tsc_betty.xlsx")
df_tsc = df_tsc[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_tsc.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station1,SmallKitchen,Station1_SmallKitchen,0.047758,9.263602
1,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.088824,8.628814

## 3c) TSC y4 - Bob

In [20]:
#1) Import data from PyMongo
df = get_data_strands(address = "tsc_bob")

adjacent = get_adjacent("tsc_map.yaml")
nodes = list(adjacent.keys())
length = get_length("tsc_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
#adjacent = get_adjacent("aaf_map.yaml")
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_tsc = get_valid2(df)
df_tsc.head(2)

Time taken (get_adjacent): 0.6218209266662598 secs
Time taken (get_length): 0.7084434032440186 secs
9012
9012
Time taken (get_times): 4.291471719741821 secs
0 iterations in 0.0009970664978027344 seconds
5000 iterations in 12.75844407081604 seconds
Time taken (get_congestion): 23.258085250854492 seconds
Unimodal:  8986
Multimodal:  26

,origin,target,edge_id,time_to_waypoint,operation_time
1,Station1,SmallKitchen,Station1_SmallKitchen,0.054096,4.340037
2,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.077031,5.906566

In [21]:
#6) save to excel
df_tsc.to_excel("data_tsc_bob.xlsx")
print("done")

done

In [22]:
# retrieve data
df_tsc_bob = pd.read_excel("data_tsc_bob.xlsx")
df_tsc_bob = df_tsc_bob[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_tsc_bob.head(2)

,origin,target,edge_id,time_to_waypoint,operation_time
0,Station1,SmallKitchen,Station1_SmallKitchen,0.054096,4.340037
1,SmallKitchen,HospActRec4,SmallKitchen_HospActRec4,0.077031,5.906566

# 4) LABS

In [24]:
#1) Import data from PyMongo
df = get_data_strands(address = "labs")

adjacent = get_adjacent("labs_map.yaml")
nodes = list(adjacent.keys())
length = get_length("labs_map.yaml")
edges = list(length.keys())
df = df.loc[df["origin"].isin(nodes)]
df = df.loc[df["target"].isin(nodes)]
df = df.loc[df["edge_id"].isin(edges)]
print(len(df))

#2) Remove data with invalid origin/target
df = get_valid1(df, adjacent)
print(len(df))

#3) Change format of datetimes in dataframe to datetime.datetime object
df = get_times(df)

#4) Count congestion level
df = get_congestion_strands(df, adjacent)
print("Unimodal: ", len(df[df["n_robots"] == 1]))
print("Multimodal: ", len(df[df["n_robots"] != 1]))

#5) remove final, unsuccessful, multimodal runs
df_labs = get_valid2(df)
df_labs.head(2)

Time taken (get_adjacent): 0.0687873363494873 secs
Time taken (get_length): 0.07582998275756836 secs
2135
2135
Time taken (get_times): 0.7789156436920166 secs
0 iterations in 0.0 seconds
Time taken (get_congestion): 2.9336893558502197 seconds
Unimodal:  1877
Multimodal:  258

      origin     target              edge_id  time_to_waypoint  operation_time
1  WayPoint2  WayPoint1  WayPoint2_WayPoint1          0.124470       20.516262
2  WayPoint9  WayPoint1  WayPoint9_WayPoint1          4.591103       15.661669

In [28]:
#6) save to excel
df_labs.to_excel("data_labs.xlsx")
print("done")

done

In [29]:
# retrieve data
df_labs = pd.read_excel("data_labs.xlsx")
df_labs = df_labs[["origin", "target", "edge_id", "time_to_waypoint", "operation_time"]]
df_labs.head(2)

      origin     target              edge_id  time_to_waypoint  operation_time
0  WayPoint2  WayPoint1  WayPoint2_WayPoint1          0.124470       20.516262
1  WayPoint9  WayPoint1  WayPoint9_WayPoint1          4.591103       15.661669

# 5) Blenheim

## 5a) Blenheim - Random

In [4]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_random")
print(len(df))
adjacent = get_adjacent("blenheim_map.yaml")
df = get_congestion(df, adjacent)
df["n_robots"].value_counts()

14981
Time taken (get_adjacent): 0.08033394813537598 secs
0 iterations in 0.0 secs
1000 iterations in 2.798766613006592 secs
2000 iterations in 5.397456407546997 secs
3000 iterations in 7.944075107574463 secs
4000 iterations in 10.514322996139526 secs
5000 iterations in 13.142079591751099 secs
6000 iterations in 15.826276302337646 secs
7000 iterations in 18.428619384765625 secs
8000 iterations in 21.01589798927307 secs
9000 iterations in 23.64856719970703 secs
10000 iterations in 26.362740516662598 secs
11000 iterations in 29.00086808204651 secs
12000 iterations in 31.751248836517334 secs
13000 iterations in 34.32987403869629 secs
14000 iterations in 36.891441106796265 secs
Time taken(get_congestion): 39.43900394439697 secs

1    8068
2    5016
3    1566
4     281
5      50
Name: n_robots, dtype: int64

In [12]:
df_blenheim_random = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_blenheim_random))
df_blenheim_random["n_robots"].value_counts()

Total Filtered
14981 3856

1    3856
Name: n_robots, dtype: int64

In [14]:
#6) save to excel
df_blenheim_random.to_excel("data_blenheim_random.xlsx")
print("done")

done

In [15]:
# retrieve data
df_blenheim_random = pd.read_excel("data_blenheim_random.xlsx")
df_blenheim_random = df_blenheim_random[["origin", "target", "edge_id", "operation_time"]]
df_blenheim_random.head(2)

      origin      target               edge_id  operation_time
0  WayPoint4   WayPoint7   WayPoint4_WayPoint7          12.409
1  WayPoint7  WayPoint10  WayPoint7_WayPoint10          13.035

## 5b) Blenheim - Targeted

In [16]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_targeted")
print(len(df))
adjacent = get_adjacent("blenheim_map.yaml")
df = get_congestion(df, adjacent)

df_blenheim_targeted = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_blenheim_targeted))
df_blenheim_targeted["n_robots"].value_counts()

15313
Time taken (get_adjacent): 0.07280182838439941 secs
0 iterations in 0.0 secs
1000 iterations in 3.1794633865356445 secs
2000 iterations in 6.315648078918457 secs
3000 iterations in 9.647743701934814 secs
4000 iterations in 12.92554259300232 secs
5000 iterations in 16.085098266601562 secs
6000 iterations in 19.368311882019043 secs
7000 iterations in 22.323288202285767 secs
8000 iterations in 24.916285037994385 secs
9000 iterations in 27.510733604431152 secs
10000 iterations in 30.133982181549072 secs
11000 iterations in 32.7216694355011 secs
12000 iterations in 35.44045662879944 secs
13000 iterations in 38.094433307647705 secs
14000 iterations in 40.80913758277893 secs
15000 iterations in 43.41208291053772 secs
Time taken(get_congestion): 44.22226810455322 secs
Total Filtered
15313 4288

1    4288
Name: n_robots, dtype: int64

In [18]:
#6) save to excel
df_blenheim_targeted.to_excel("data_blenheim_targeted.xlsx")
print("done")

done

In [20]:
# retrieve data
df_blenheim_targeted = pd.read_excel("data_blenheim_targeted.xlsx")
df_blenheim_targeted = df_blenheim_targeted[["origin", "target", "edge_id", "operation_time"]]
df_blenheim_targeted.head(2)

      origin      target               edge_id  operation_time
0  WayPoint4   WayPoint7   WayPoint4_WayPoint7          11.574
1  WayPoint7  WayPoint10  WayPoint7_WayPoint10          12.874

# 6) Walmart

## 6a) Walmart - Random

In [21]:
#1) Import data from PyMongo
df = get_data(address = "walmart_random")
print(len(df))
adjacent = get_adjacent("walmart_map.yaml")
df = get_congestion(df, adjacent)

df_walmart_random = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_walmart_random))
df_walmart_random["n_robots"].value_counts()

17205
Time taken (get_adjacent): 0.8186111450195312 secs
0 iterations in 0.0 secs
1000 iterations in 2.9142963886260986 secs
2000 iterations in 5.735819339752197 secs
3000 iterations in 8.370919466018677 secs
4000 iterations in 11.008217334747314 secs
5000 iterations in 13.613222599029541 secs
6000 iterations in 16.33234190940857 secs
7000 iterations in 19.00762104988098 secs
8000 iterations in 21.894545793533325 secs
9000 iterations in 24.572200775146484 secs
10000 iterations in 27.257786750793457 secs
11000 iterations in 30.157704830169678 secs
12000 iterations in 33.081082582473755 secs
13000 iterations in 35.744940996170044 secs
14000 iterations in 38.635194540023804 secs
15000 iterations in 41.28367280960083 secs
16000 iterations in 44.16515564918518 secs
17000 iterations in 46.94177055358887 secs
Time taken(get_congestion): 47.532031536102295 secs
Total Filtered
17205 11210

1    11210
Name: n_robots, dtype: int64

In [22]:
#6) save to excel
df_walmart_random.to_excel("data_walmart_random.xlsx")
print("done")

done

In [23]:
# retrieve data
df_walmart_random = pd.read_excel("data_walmart_random.xlsx")
df_walmart_random = df_walmart_random[["origin", "target", "edge_id", "operation_time"]]
df_walmart_random.head(2)

        origin      target                 edge_id  operation_time
0  WayPoint110  WayPoint68  WayPoint110_WayPoint68           4.898
1   WayPoint61  WayPoint54   WayPoint61_WayPoint54           9.276

## 6b) Walmart - Targeted

In [24]:
#1) Import data from PyMongo
df = get_data(address = "walmart_targeted")
print(len(df))
adjacent = get_adjacent("walmart_map.yaml")
df = get_congestion(df, adjacent)

df_walmart_targeted = get_valid(df, remove_multimodal = True, remove_initial = True)
print("Total", "Filtered")
print(len(df), len(df_walmart_targeted))
df_walmart_targeted["n_robots"].value_counts()

14173
Time taken (get_adjacent): 0.7658038139343262 secs
0 iterations in 0.0 secs
1000 iterations in 3.093173027038574 secs
2000 iterations in 6.159881830215454 secs
3000 iterations in 9.3738272190094 secs
4000 iterations in 12.330931186676025 secs
5000 iterations in 15.255314588546753 secs
6000 iterations in 18.23589062690735 secs
7000 iterations in 21.141523838043213 secs
8000 iterations in 23.792858362197876 secs
9000 iterations in 26.387338161468506 secs
10000 iterations in 28.90957021713257 secs
11000 iterations in 31.50509476661682 secs
12000 iterations in 34.220862865448 secs
13000 iterations in 36.694212198257446 secs
14000 iterations in 39.288665533065796 secs
Time taken(get_congestion): 39.754576206207275 secs
Total Filtered
14173 4967

1    4967
Name: n_robots, dtype: int64

In [25]:
#6) save to excel
df_walmart_targeted.to_excel("data_walmart_targeted.xlsx")
print("done")

done

In [26]:
# retrieve data
df_walmart_targeted = pd.read_excel("data_walmart_targeted.xlsx")
df_walmart_targeted = df_walmart_targeted[["origin", "target", "edge_id", "operation_time"]]
df_walmart_targeted.head(2)

        origin      target                 edge_id  operation_time
0  WayPoint110  WayPoint68  WayPoint110_WayPoint68           5.179
1   WayPoint68  WayPoint75   WayPoint68_WayPoint75           9.396