# 1) Setup

In [2]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm

import numpy as np
import math
import scipy as sp
from scipy import stats
from copy import copy
import time

import pymongo
from pymongo import MongoClient
from datetime import datetime
from datetime import timedelta
print("done")

done

In [3]:
#import functions from python files

#1) data import & filtering
from get_data import *
from filter_data1 import *
from filter_data2 import *
from filter_data3 import *
from filter_data4 import *
from filter_data5 import *
from select_data import *
from select_data_edge import *

from get_adjacent import *


print("done")

done

# 2) Count n_robots per edge
- Walmart random

In [4]:
#1) Import data from PyMongo
df = get_data(address = "walmart_random")
#2) Preliminary filtering
df = filter_data1(df)
print("done")

done

In [4]:
#3a) Count n_robots
adjacent = get_adjacent("walmart_map.yaml")
df = filter_data5(df, adjacent)

Time taken: 0.6316194534301758 secs
0 iterations 0.0009970664978027344 secs
1000 iterations 9.897929906845093 secs
2000 iterations 19.549097061157227 secs
3000 iterations 29.32994294166565 secs
4000 iterations 44.79227685928345 secs
5000 iterations 54.47217774391174 secs
6000 iterations 64.06527757644653 secs
7000 iterations 73.56073522567749 secs
8000 iterations 82.08332538604736 secs
9000 iterations 90.7105073928833 secs
10000 iterations 98.69599342346191 secs
11000 iterations 106.85569453239441 secs
12000 iterations 114.42217564582825 secs
13000 iterations 122.522390127182 secs
14000 iterations 130.32969760894775 secs
15000 iterations 138.29958772659302 secs
Time taken 145.00739812850952 secs

In [5]:
#3b) save to excel
df.to_excel("nrobots_walmart_random.xlsx")
print("done")

done

In [6]:
#3c) load from excel
df = pd.read_excel("nrobots_walmart_random.xlsx")
print("done")

done

In [7]:
#4) Get rid of is_final = True & n_robots != 1
#create is_initial column and get rid of is_initial == True
df = filter_data3(df, remove_multimodal = False)
df.head()

,origin,target,edge_id,operation_time,start,finish,n_robots,is_final,is_initial
0,WayPoint110,WayPoint68,WayPoint110_WayPoint68,4.898,2021-02-23 21:18:37.108,2021-02-23 21:18:42.376,1,False,False
1,WayPoint68,WayPoint61,WayPoint68_WayPoint61,10.916,2021-02-23 21:19:12.520,2021-02-23 21:19:17.788,1,False,False
2,WayPoint61,WayPoint54,WayPoint61_WayPoint54,9.276,2021-02-23 21:19:42.080,2021-02-23 21:19:47.348,1,False,False
3,WayPoint54,WayPoint47,WayPoint54_WayPoint47,10.398,2021-02-23 21:20:15.528,2021-02-23 21:20:20.796,1,False,False
4,WayPoint47,WayPoint48,WayPoint47_WayPoint48,10.212,2021-02-23 21:20:48.740,2021-02-23 21:20:54.008,1,False,False

In [8]:
#5a) save to excel
df.to_excel("filtered_walmart_random.xlsx")
print("done")

done

In [9]:
#5b) load from excel
df = pd.read_excel("filtered_walmart_random.xlsx")
print("done")

done

# 3) Walmart targeted

In [10]:
#1) Import data from PyMongo
df = get_data(address = "walmart_targeted")
#2) Preliminary filtering
df = filter_data1(df)
#3a) Count n_robots
adjacent = get_adjacent("walmart_map.yaml")
df = filter_data5(df, adjacent)

Time taken: 0.7310616970062256 secs
0 iterations 0.0009665489196777344 secs
1000 iterations 19.51107120513916 secs
2000 iterations 36.5931761264801 secs
3000 iterations 54.62571740150452 secs
4000 iterations 74.2363588809967 secs
5000 iterations 88.68155765533447 secs
6000 iterations 99.46605205535889 secs
7000 iterations 109.08775281906128 secs
8000 iterations 117.92900896072388 secs
9000 iterations 125.59708571434021 secs
10000 iterations 132.79944348335266 secs
11000 iterations 150.58520007133484 secs
12000 iterations 167.25253343582153 secs
Time taken 172.31037020683289 secs

In [11]:
#3b) save to excel
df.to_excel("nrobots_walmart_targeted.xlsx")
#3c) load from excel
df = pd.read_excel("nrobots_walmart_targeted.xlsx")
print("done")

done

In [12]:
#4) Get rid of is_final = True & n_robots != 1
#create is_initial column and get rid of is_initial == True
df = filter_data3(df, remove_multimodal = False)
df.head()

,origin,target,edge_id,operation_time,start,finish,n_robots,is_final,is_initial
0,WayPoint110,WayPoint68,WayPoint110_WayPoint68,5.179,2021-02-26 05:09:52.153,2021-02-26 05:09:57.273,1,False,False
1,WayPoint68,WayPoint75,WayPoint68_WayPoint75,9.396,2021-02-26 05:10:22.306,2021-02-26 05:10:27.426,1,False,False
2,WayPoint75,WayPoint82,WayPoint75_WayPoint82,10.883,2021-02-26 05:10:57.317,2021-02-26 05:11:02.437,1,False,False
3,WayPoint82,WayPoint89,WayPoint82_WayPoint89,14.213,2021-02-26 05:11:41.242,2021-02-26 05:11:46.362,1,False,False
4,WayPoint89,WayPoint90,WayPoint89_WayPoint90,10.272,2021-02-26 05:12:13.089,2021-02-26 05:12:18.209,1,False,False

In [13]:
#5a) save to excel
df.to_excel("filtered_walmart_targeted.xlsx")
#5b) load from excel
df = pd.read_excel("filtered_walmart_targeted.xlsx")
print("done")

done

# 4) Blenheim random

In [14]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_random")
#2) Preliminary filtering
df = filter_data1(df)
#3a) Count n_robots
adjacent = get_adjacent("blenheim_map.yaml")
df = filter_data5(df, adjacent)

Time taken: 0.1007533073425293 secs
0 iterations 0.0009982585906982422 secs
1000 iterations 53.77694845199585 secs
2000 iterations 106.74167513847351 secs
3000 iterations 161.58069252967834 secs
4000 iterations 220.10846376419067 secs
5000 iterations 273.1299831867218 secs
6000 iterations 323.6510982513428 secs
7000 iterations 377.25618863105774 secs
8000 iterations 427.3415629863739 secs
9000 iterations 474.44754576683044 secs
10000 iterations 521.1655426025391 secs
11000 iterations 565.9877805709839 secs
12000 iterations 607.6665480136871 secs
13000 iterations 647.6879770755768 secs
14000 iterations 684.972407579422 secs
Time taken 714.603529214859 secs

In [15]:
#3b) save to excel
df.to_excel("nrobots_blenheim_random.xlsx")
#3c) load from excel
df = pd.read_excel("nrobots_blenheim_random.xlsx")
print("done")

done

In [16]:
#4) Get rid of is_final = True & n_robots != 1
#create is_initial column and get rid of is_initial == True
df = filter_data3(df, remove_multimodal = False)
df.head()

,origin,target,edge_id,operation_time,start,finish,n_robots,is_final,is_initial
0,WayPoint4,WayPoint7,WayPoint4_WayPoint7,12.409,2021-02-26 00:21:53.498,2021-02-26 00:22:04.356,1,False,False
1,WayPoint7,WayPoint10,WayPoint7_WayPoint10,13.035,2021-02-26 00:22:21.434,2021-02-26 00:22:32.292,1,False,False
2,WayPoint10,WayPoint3,WayPoint10_WayPoint3,13.041,2021-02-26 00:22:48.395,2021-02-26 00:22:59.253,1,False,False
3,WayPoint3,WayPoint1,WayPoint3_WayPoint1,13.831,2021-02-26 00:23:19.018,2021-02-26 00:23:29.876,2,False,False
4,WayPoint1,WayPoint11,WayPoint1_WayPoint11,11.756,2021-02-26 00:23:45.344,2021-02-26 00:23:56.202,1,False,False

In [17]:
#5a) save to excel
df.to_excel("filtered_blenheim_random.xlsx")
#5b) load from excel
df = pd.read_excel("filtered_blenheim_random.xlsx")
print("done")

done

# 5) Blenheim targeted

In [18]:
#1) Import data from PyMongo
df = get_data(address = "blenheim_targeted")
#2) Preliminary filtering
df = filter_data1(df)
#3a) Count n_robots
adjacent = get_adjacent("blenheim_map.yaml")
df = filter_data5(df, adjacent)

Time taken: 0.07184004783630371 secs
0 iterations 0.0 secs
1000 iterations 62.78183054924011 secs
2000 iterations 122.61701464653015 secs
3000 iterations 180.886061668396 secs
4000 iterations 236.86100959777832 secs
5000 iterations 295.4899697303772 secs
6000 iterations 352.2764024734497 secs
7000 iterations 407.0648260116577 secs
8000 iterations 459.3584678173065 secs
9000 iterations 510.16506361961365 secs
10000 iterations 559.3612704277039 secs
11000 iterations 605.6231586933136 secs
12000 iterations 651.948157787323 secs
13000 iterations 694.642550945282 secs
14000 iterations 735.4519364833832 secs
Time taken 768.4588451385498 secs

In [19]:
#3b) save to excel
df.to_excel("nrobots_blenheim_targeted.xlsx")
#3c) load from excel
df = pd.read_excel("nrobots_blenheim_targeted.xlsx")
print("done")

done

In [20]:
#4) Get rid of is_final = True & n_robots != 1
#create is_initial column and get rid of is_initial == True
df = filter_data3(df, remove_multimodal = False)
df.head()

,origin,target,edge_id,operation_time,start,finish,n_robots,is_final,is_initial
0,WayPoint4,WayPoint7,WayPoint4_WayPoint7,11.574,2021-02-24 13:25:40.322,2021-02-24 13:25:51.100,1,False,False
1,WayPoint7,WayPoint10,WayPoint7_WayPoint10,12.874,2021-02-24 13:26:11.520,2021-02-24 13:26:22.298,1,False,False
2,WayPoint10,WayPoint3,WayPoint10_WayPoint3,13.195,2021-02-24 13:26:42.290,2021-02-24 13:26:53.068,1,False,False
3,WayPoint3,WayPoint1,WayPoint3_WayPoint1,16.896,2021-02-24 13:27:22.148,2021-02-24 13:27:32.926,2,False,False
6,WayPoint1,WayPoint3,WayPoint1_WayPoint3,12.965,2021-02-24 13:29:07.287,2021-02-24 13:29:18.065,1,False,False

In [21]:
#5a) save to excel
df.to_excel("filtered_blenheim_targeted.xlsx")
#5b) load from excel
df = pd.read_excel("filtered_blenheim_targeted.xlsx")
print("done")

done